article
{
	width:100%;
}
.modal img
{
	display: block;
	margin: auto;
	max-width: 100%;
}
.pac-container {
    z-index: 1051 !important;
}

body
{
	background-color: #ddd;
}
#page
{
/*	padding-top:15px;
*/	padding-bottom:15px;
	/*margin-top:-20px;*/
	/*padding-top:20px;*/
	/*padding: 10px;*/
	/*margin-bottom: 15px;*/
	border-radius: 5px;
	background-color: #fff;
}
.blanc
{
	background-color: #fff;
	height: 5em;
	margin-top: -5em;
}
.panel p
{
	/*text-align: justify;*/
}
.panel-body
{
	/*padding-bottom: 0;*/
}
.nom-faireface
{
	font-weight: bold;
	letter-spacing: -1px;
}
.face
{
	margin-left: 5px;
	color:#fff;
	display: inline-block;
	font-style: italic;
}
.table-middle>tbody>tr>td
{
	vertical-align: middle;
}
.table-middle>tbody>tr>td:last-of-type
{
	/*text-align: right;*/
}
.liste-navigation>div>div
{
	display: inline-block;
	margin: 20px 0 10px 0;
}
.dropdown li:hover,
.dropdown li:active
{
	background-color:#286090;
}
.sinistre-edit
{
	margin:10px;
}
.erreur-media
{
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
}
.affichage
{
	position:absolute;
	background-color:transparent;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:1000;
}
.esg
{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
/*.jumbotron
{
	margin-bottom:0;
}*/

.geoPosImageScroll
{
	display: block;
	overflow: hidden;
		width: 100%;
	height: 225px;
	--webkit-overflow-scrolling: touch;

  -webkit-border-radius: 0.5em;
     -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}

#adresse
{
	display: none;
}

.custom-file-input {
  visibility: hidden;
  width: 0;
  position: relative;
    margin-bottom: 1em;
}
.custom-file-input::before {
  content: 'Photos & Vidéos';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


/* Accueil */
.panel-faireface {
  border-color: #e2600c;
  /*background-color: #fce4d5;*/
}
.panel-faireface > .panel-heading {
  color: #fff;
  background-color: #F36C15;
  border-color: #e2600c;
}
.panel-faireface > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #e2600c;
}
.panel-faireface > .panel-heading .badge {
  color: #f47b2d;
  background-color: #333;
}
.panel-faireface > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #e2600c;
}
.fill
{
	margin:-15px;
}
.fill .list-group-item
{
	border-left: none;
	border-right: none;
	height: 81px;
}
.fill .list-group-item:first-child
{
	border-top:none;
}
.fill .list-group-item:last-child
{
	border-radius: 0px;
}
.fill .list-group-item:nth-child(3)
{
	border-bottom: none;
}
#page.no-background
{
	background-color: transparent;
}
#accueil .panel-title
{
	display: inline-block;
}
.tout-lire a
{
	text-decoration: underline;
	color: #fff;
}
#accueil .panel-faireface .panel-body
{
	overflow: auto;
	height: 242px;
}
.panel-footer-divise
{
	text-align: center;
}
.panel-footer-divise .division
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.map-alerte
{
	display: block;
	min-height: 150px;
}
.personnes-ressources h5
{
	margin-bottom: 0;
}
.alerte-panel h2
{
	margin-top: 0;
}
.auteur
{
	font-style: italic;
}
.plan-bouton
{
	margin-bottom: 15px;
}
.tab-header
{
  text-align: center;
}
.supprimer-primary, .supprimer-primary:hover, .supprimer-primary:focus
{
  color:#fff;
}
@media(min-width: 768px){
	#divInfoSms
	{
		margin-top: 55px;
	}
}
.affix
{
	top:50px;
}
@media(min-width: 992px){
  .alert-batard
  {
    margin-left: -15px;
  }
}
@media print {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  fieldset
  {
  }
}
.well>:first-child
{
  margin-top: 0;
}
.well>:last-child
{
  margin-bottom: 0;
}
.panel-heading .h2
{
  margin-top: 10px;
}
.row>.alert.alert-info
{
  margin-left: 15px;
  margin-right: 15px;
}
label.error {
	margin-top: 0.5em;
	color: red;
	font-size: 0.75em;
}
