article
{
	width:100%;
}
.modal img
{
	display: block;
	margin: auto;
	max-width: 100%;
}
body
{
	background-color: #ddd;
}
#page
{
	border-radius: 5px;
	background-color: #fff;
}
.blanc
{
	background-color: #fff;
	height: 5em;
	margin-top: -5em;
}
.panel p
{
	text-align: justify;
}
.nom-faireface
{
	font-weight: bold;
	letter-spacing: -1px;
}
.face
{
	margin-left: 5px;
	color:#fff;
	display: inline-block;
	font-style: italic;
}