article
{
	width:100%;
}
.modal img
{
	display: block;
	margin: auto;
	max-width: 100%;
}
body
{
	background-color: #ddd;
}
#page
{
	border-radius: 5px;
	background-color: #fff;
}
.blanc
{
	background-color: #fff;
	height: 5em;
	margin-top: -5em;
}
.panel p
{
	text-align: justify;
}